body {
  font-family: sans-serif;
}

/* LAYOUT */

.container{
  display: grid;
  grid-template-rows: 100px 1fr; 
  grid-template-areas:
    "nav"
    "main";
}

nav{
  grid-area: nav;
  background: #547AA5;
}

nav a{
  color: white;
}

.main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-gap: 20px;*/
  grid-template-areas:
    "sidebar" 
    "videos";
}

@media (min-width: 600px) {
  .main{
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "sidebar videos";
  }
}

.main img{
  max-width: 100%;
}

aside{
  grid-area: sidebar;
  background: #4F5165;
}

.filters{
  display: flex;
  flex-direction: column;
}

.filters button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.videos{
  grid-area: videos;
  max-width: 1280px;
}

/* COMMON */

h1{
  margin-top: 0;
}

.active{
  font-weight: bold;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}