body {
  font-family: sans-serif;
}

/* LAYOUT */

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header{
  background: #93ACB5;
  height: 150px;
}

header a{
  color: white;
}

.main{
  display: flex;
  flex: 1;
}

.main img{
  max-width: 100%;
}

aside{
  background: #3E5C76;
  flex: 0 0 200px;
}

.filters{
  display: flex;
  flex-direction: column;
}

.filters button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.videos{
  flex: 1;
}

/* COMMON */

h1{
  margin-top: 0;
}

.active{
  font-weight: bold;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}